@using KafkaPlugin.Components.MainComponents

<div>
    <Brokers brokers="_brokers" 
             UpdateMainPageEvent="UpdateMainPageAsync"/>
    
    <hr/>
    <Topics topics="_topics" 
            UpdateMainPageEvent="UpdateMainPageAsync"/>
</div>