@page "/plugin-manager/{assemblyName?}"
@using SuAdmin.Components.Pages.PluginManager.Components
@rendermode InteractiveServer

@if (string.IsNullOrEmpty(assemblyName))
{
    <h3>PluginManager</h3>
}

@if (assemblyName is null)
{
    <PluginsTable/>
}
else
{
    <DynamicComponent Type="LoadComponent()"/>
}
