@page "/plugin-manager"
@rendermode InteractiveServer

<h3>PluginManager</h3>

<div class="d-flex flex-wrap w-100">
    @if (_plugins is { Count: > 0 })
    {
        foreach (var plugin in _plugins)
        {
            <div class="w-25">
                <div class="d-flex justify-content-between align-items-center">
                    <span>
                        @plugin.Name
                    </span>
                    <span>
                        @if (_installedPlugins.Any(x => x.Name == plugin.Name))
                        {
                            <button class="btn btn-danger btn-sm" onclick="@(() => UninstallPlugin(plugin))">
                                Удалить
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-success btn-sm" onclick="@(() => InstallPlugin(plugin))">
                                Установить
                            </button>
                        }
                    </span>
                </div>

            </div>
        }
    }
    else
    {
        <div class="w-100">
            Список плагинов загружается
        </div>
    }
</div>

@code {
    
}