@using Contracts.Components
@using Microsoft.AspNetCore.Components.Forms

<Modal @ref="_modalRef" Title="Добавить новый хост" OnClose="HandleClose" OnConfirm="OnSubmitHandlerAsync">
    <EditForm Model="_addHostModel" OnValidSubmit="OnSubmitHandlerAsync">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        
        <div class="mb-2">
            <label>IP адрес:</label>
            <InputText class="form-control" @bind-Value="_addHostModel.Ip"/>
        </div>
        
        <div class="mb-3">
            <label>Порт:</label>
            <InputNumber class="form-control" @bind-Value="_addHostModel.Port"/>
        </div>
        
        <div class="modal-footer">
            @_closeModalButton
            <button type="submit" class="btn btn-success btn-sm">Добавить</button>
        </div>
    </EditForm>
</Modal>

@_openModalButton