<div class="d-flex mb-2">
    <AddHostModal OnHostAdded="UpdateMainPageEvent"/>
</div>

<div class="d-flex">
    @if (brokers == null)
    {
        <div class="w-100 text-center">
            Загружаем список брокеров
        </div>
    }
    else if (brokers.Count > 0)
    {
        foreach (var broker in brokers)
        {
            <div class="border border-1 rounded-3 p-2 me-3">
                <div>
                    <span class="fw-bold">Хост: </span>
                    @(broker.Host + ":" + broker.Port)
                </div>
                <div>
                    <span class="fw-bold">Статус: </span>
                    @(broker.IsAvailable ? (MarkupString)"<span class=\"badge text-bg-success\">Онлайн</span>" : (MarkupString)"<span class=\"badge text-bg-danger\">Оффлайн</span>")
                </div>
                <div class="d-flex justify-content-end mt-1">
                    <button class="btn btn-primary btn-sm me-1">Редактировать</button>
                    <button class="btn btn-danger btn-sm">Удалить</button>
                </div>
            </div>
        }
    }
    else
    {
        <div class="w-100 text-center">
            Список пуст
        </div>
    }
</div>