<div class="d-flex">
    @if (brokers == null)
    {
        <div class="w-100 text-center">
            Загружаем список брокеров
        </div>
    }
    else if (brokers.Count > 0)
    {
        foreach (var broker in brokers)
        {
            <div class="border border-1 rounded-3 p-2 me-3">
                <div>@(broker.Host + ":" + broker.Port)</div>
                <div>@(broker.IsAvailable ? "Онлайн" : "Оффлайн")</div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-sm">Редактировать</button>
                    <button class="btn btn-danger btn-sm">Удалить</button>
                </div>
            </div>
        }
    }
    else
    {
        <div class="w-100 text-center">
            Список пуст
        </div>
    }
</div>